/*  ============================================================== */
/*  Base (320px and up) */
/*  ============================================================== */

body {
	font: 16px/22px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #888;
	padding-top: 0;
	text-shadow: 0 1px 0 #000;
	background: #000;
}

h1, h2, h3, h4, h5, h6, header[role="banner"] p, .button {
	color: #4f9ec9;
	font-family: 'Lato', sans-serif;
	font-weight: 700; }

h1 {
	font-size: 2.25em; /* 36px */
	line-height: 1.2222em; /* 44px */
	margin-top: 0.6111em;
	margin-bottom: 0em;
}
	
h2 { 
	font-size: 2em; /* 32px */
	line-height: 1.375em; /* 44px */
	margin-top: 0.6875em;
	margin-bottom: 0em;
}
h3,
article > header h1,
aside > header h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1.8333em; /* 44px */
	margin-top: 0.9167em;
	margin-bottom: 0em;
}
h4 { }
h5 { }
h6 { }

p, ul, ol, img, pre {
	font-size: 1em; /* 16px */
	line-height: 1.375em; /* 22px */
	margin-bottom: 1.375em;
	margin-top: 0;
}

a, a:visited { 
	color: #b23834; 
	text-decoration: none;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
a:hover { color: #c63f3a; }
a:active { }

strong {
	color: #bbb;
}

img {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

.flexslider { margin-bottom: 30px; }
.flexslider img { margin-bottom: 0; }

ul.unstyled {
	list-style: none;
	padding-left: 0;
}

.container { 
	border-bottom: 1px solid #000; border-top: 1px solid rgba(255,255,255,.1);
	background: #26282b;
	background: -moz-linear-gradient(top, #26282b 0%, #232323 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26282b), color-stop(100%,#232323));
	background: -webkit-linear-gradient(top, #26282b 0%,#232323 100%);
	background: -o-linear-gradient(top, #26282b 0%,#232323 100%);
	background: -ms-linear-gradient(top, #26282b 0%,#232323 100%);
	background: linear-gradient(top, #26282b 0%,#232323 100%);
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}
.row,
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { background: none; }

.button {
	font-weight: 700;
	background-color: #b23834;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	color: #2a0908;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	display: inline-block;
	padding: .5em 2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #2a0908;
	border-top-color: #000;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.2);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.2);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.2);

}

	.button:hover {
		background-color: #c63f3a;
		color: #2a0908;
	}
	
	.button:active {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		-ms-transition: none;
		transition: none;
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(0,0,0,.5), inset 0 -1px 3px rgba(0,0,0,.6);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(0,0,0,.5), inset 0 -1px 3px rgba(0,0,0,.6);
		box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(0,0,0,.5), inset 0 -1px 3px rgba(0,0,0,.6);

	}

body > .container:first-child {
	background-color: #4f9ec9;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	box-shadow: 0px 1px 6px #000;
	opacity: .9;
	font-size: .9em;
	padding-top: .7em;
}

header[role="banner"] h1,
header[role="banner"] p {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	line-height: 1.2em;
	margin-top: 0;
}

header[role="banner"] a {
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	color: #842a27;
}

.sectionTitle {
	border-bottom: 1px solid #4f9ec9;
	border-bottom: 1px solid rgba(79, 158, 201, .5);
	-webkit-box-shadow: inset 0 -1px 0 #000;
	-moz-box-shadow: inset 0 -1px 0 #000;
	box-shadow: inset 0 -1px 0 #000;
	margin-bottom: 0.6111em;
	padding-bottom: 0.2em;
}

article > header h1,
aside > header h1 {
	border-bottom: 1px dashed #4f9ec9;
	border-bottom: 1px dashed rgba(79, 158, 201, .5);
	margin-bottom: 0.6111em;
	padding-bottom: 0.2em;
}

pre,
.flexslider {
	border-radius: 5px;
	background: #232323;
	background: -moz-linear-gradient(top, #232323 0%, #26282b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#26282b));
	background: -webkit-linear-gradient(top, #232323 0%,#26282b 100%);
	background: -o-linear-gradient(top, #232323 0%,#26282b 100%);
	background: -ms-linear-gradient(top, #232323 0%,#26282b 100%);
	background: linear-gradient(top, #232323 0%,#26282b 100%);
	padding: 1em;
	border: 1px solid rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	box-shadow: 0 1px 0 rgba(255,255,255,.1); }

code {
	color: #fff;
	font-family: "Courier New", Courier, mono; }

.flexslider { padding: 0; }

#assetdownload article h1 a {
	font-size: .6em;
	margin-left: 1em;
	line-height: 1em;
}

#assetdownload .button {
	display: block;
	text-align: center;
	padding: .6em 0;
}

.theGrid p[class*="col"] {
	background: #ccc;
	background: rgba(255,255,255,.1);
	padding: 2% 1%;
	border-bottom: 1px solid rgba(255,255,255,.2);
	
	-webkit-transition: background,box-shadow .3s ease-in-out 0s;
	-moz-transition: background,box-shadow .3s ease-in-out 0s;
	-o-transition: background,box-shadow .3s ease-in-out 0s;
	-ms-transition: background,box-shadow .3s ease-in-out 0s;
	transition: background,box-shadow .3s ease-in-out 0s;
}

	.theGrid p[class*="col"]:hover {
		background: rgba(255,255,255,.2);
		box-shadow: 0 0 7px rgba(79, 158, 201, 1);
	}

@media only screen and (min-width: 480px) { 
	
	#theGrid2 .row { max-width: 768px; }
	#theGrid2 .grid2-col1:first-child,
	#theGrid2 .grid2-col2 { margin-left: 0; }

}

@media only screen and (min-width: 768px) { 
	
	body > .container:first-child {
		position: fixed;
		z-index: 5;
		height: 70px;
	}
	
	header[role="banner"] p {
		padding-top: 0;
	}
	
	body > .container:nth-child(2) {
		padding-top: 70px;
	}
	
}

@media only screen and (min-width: 1000px) { 
	
	body > .container:first-child {
		font-size: 1em;
	}

}