
body {
	background: #e9f6fd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzgyOGM5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e9f6fd 0%, #d3eefb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb));
	background: -webkit-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
	background: -o-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
	background: -ms-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
	background: linear-gradient(top, #e9f6fd 0%,#d3eefb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 );
}

/*debug colors*/
.container { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
.row { background: #ccc; }
.col1, .col2, .col3, .col4, .col5, .col6 { background: #f7f7f7; }


/* ============================================================== */
/*   Grid System */
/*  ============================================================== */

/* apply a natural box layout model to all elements
   http://paulirish.com/2012/box-sizing-border-box-ftw/  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/*   320px and up */
/*  ============================================================== */

.row, body, .container {
	width: 100%;
}

.row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6 {
	padding-left: 2%;
	padding-right: 2%;
}

/* Responsive Media */
img, svg, video, audio, embed, object {
	max-width: 100%;	/* nie breiter als umschließende Spalte */
	height: auto;		/* ermöglicht proportionale Skalierung */
	margin: 0 auto;		/* immer innerhalb der Spalte zentrieren */
	display: block;		/* benötigt damit Zentrierung funktioniert */
}


/*   480px and up */
/*  ============================================================== */
@media only screen and (min-width: 480px) {
  	
	
}


/*   600px and up */
/*  ============================================================== */
@media only screen and (min-width:600px) {
  	
	.container {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		margin-bottom: 2em;
	}
	
	.row {
		width: 100%;
		max-width: 1000px;	/* Fluid bis zu maximal 1000px */
		margin: 0 auto;		/* zentriert Element */
		overflow: hidden;	/* clear trick */
	}
	
	.row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6 {
		float: left;
		margin: 0 2% 2% 0;
		min-height: 1px;
		padding-left: 0;
		padding-right: 0;
	}
	
	.row .col1:last-child, .row .col2:last-child, .row .col3:last-child, .row .col4:last-child, .row .col5:last-child, .row .col6 { margin-right: 0; }
	
	.row .col1 { width: 15%; }
	.row .col2 { width: 32%; }
		.row .col2:last-child {	width: 34%; }
		.row .col2:nth-child(3) { width: 32%;  }
	.row .col3 { width: 49%; }
		/*.row .col3:last-child {	width: 51%; }*/
	.row .col4 { width: 64%; }
		.row .col4:last-child {	width: 66%; }
	.row .col5 { width: 81%; }
		.row .col5:last-child {	width: 83%; }
	.row .col6 { width: 100%; }
	
}


/*   768px and up */
/*  ============================================================== */
@media only screen and (min-width: 768px) {

	

}


/*   1020px and up */
/*  ============================================================== */
@media only screen and (min-width: 1020px) {
	
	

}