
/*  ============================================================== */
/*  Base Typography (320px and up) */
/*  ============================================================== */

body {
	font: 16px/22px Georgia, "Times New Roman", Times, serif;
	color: #cccccc;
	text-shadow: 0 1px 0 #000;
	padding-top: 1%;
	background: #26282b;
	background: -moz-linear-gradient(top, #26282b 0%, #232323 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26282b), color-stop(100%,#232323));
	background: -webkit-linear-gradient(top, #26282b 0%,#232323 100%);
	background: -o-linear-gradient(top, #26282b 0%,#232323 100%);
	background: -ms-linear-gradient(top, #26282b 0%,#232323 100%);
	background: linear-gradient(top, #26282b 0%,#232323 100%);
}

h1, h2, h3, h4, h5, h6, header[role="banner"] p {
	font-family: 'Share', cursive;
	font-weight: 700;
	color: #fff;
}

/* Vertical Rhythm Tool
   http://drewish.com/tools/vertical-rhythm */
h1 {
	font-size: 2.25em; /* 36px */
	line-height: 1.2222em; /* 44px */
	margin-top: 0.6111em;
	margin-bottom: 0em;
}
h2 { 
	font-size: 2em; /* 32px */
	line-height: 1.375em; /* 44px */
	margin-top: 0.6875em;
	margin-bottom: 0em;
}
h3 {
	font-size: 1.5em; /* 24px */
	line-height: 1.8333em; /* 44px */
	margin-top: 0.9167em;
	margin-bottom: 0em;
}
h4 { }
h5 { }
h6 { }

a, a:visited { color: #4f9ec9; }
a:hover { }
a:active { }

p, ul, ol, img {
	font-size: 1em; /* 16px */
	line-height: 1.375em; /* 22px */
	margin-bottom: 1.375em;
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding-left: 0;
}


/*   320px and up */
/*  ============================================================== */

section > header h1,
aside > header h1,
footer > header h1 {
	border-bottom: 1px dashed rgba(255,255,255,.1);
	margin-top: 0;
}

header[role="banner"] h1 {
	margin-top: 0;
}

header[role="banner"] p {
	margin-bottom: 0;
	color: #888;
	padding-top: 1em;
}


/*   480px and up */
/*  ============================================================== */
@media only screen and (min-width: 480px) {
  	
  	
	
}


/*   768px and up */
/*  ============================================================== */
@media only screen and (min-width: 768px) {


}


/*   1020px and up */
/*  ============================================================== */
@media only screen and (min-width: 1020px) {


}