
/*  ============================================================== */
/*  Base Typography (320px and up) */
/*  ============================================================== */

body {
	font: 16px/22px Georgia, "Times New Roman", Times, serif;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Share', cursive;
	font-weight: 700;
}

h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1.8333em; /* 44px */
	margin-top: 0.9167em;
	margin-bottom: 0em;
}
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

a, a:visited { }
a:hover { }
a:active { }


/*   320px and up */
/*  ============================================================== */





/*   480px and up */
/*  ============================================================== */
@media only screen and (min-width: 480px) {
  	
  	
	
}


/*   768px and up */
/*  ============================================================== */
@media only screen and (min-width: 768px) {


}


/*   1020px and up */
/*  ============================================================== */
@media only screen and (min-width: 1020px) {


}