
/*  ============================================================== */
/*  Base Typography (320px and up) */
/*  ============================================================== */

body {
	font: 16px/22px Georgia, "Times New Roman", Times, serif;
	color: #444;
	padding-top: 1%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Share', cursive;
	font-weight: 700;
}

/* Vertical Rhythm Tool
   http://drewish.com/tools/vertical-rhythm */
h1 {
	font-size: 2.25em; /* 36px */
	line-height: 1.2222em; /* 44px */
	margin-top: 0.6111em;
	margin-bottom: 0em;
}
h2 { 
	font-size: 2em; /* 32px */
	line-height: 1.375em; /* 44px */
	margin-top: 0.6875em;
	margin-bottom: 0em;
}
h3 {
	font-size: 1.5em; /* 24px */
	line-height: 1.8333em; /* 44px */
	margin-top: 0.9167em;
	margin-bottom: 0em;
}
h4 { }
h5 { }
h6 { }

a, a:visited { }
a:hover { }
a:active { }

ul.unstyled {
	list-style: none;
	padding-left: 0;
}


/*   320px and up */
/*  ============================================================== */

section > header h1,
aside > header h1,
footer > header h1 {
	border-bottom: 1px dashed #ccc;
	margin-top: 0;
	color: #ccc;
}



/*   480px and up */
/*  ============================================================== */
@media only screen and (min-width: 480px) {
  	
  	
	
}


/*   768px and up */
/*  ============================================================== */
@media only screen and (min-width: 768px) {


}


/*   1020px and up */
/*  ============================================================== */
@media only screen and (min-width: 1020px) {


}